body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: crimson;
    font-size: 16px;
}
.container {
    border: 2px solid black;
    width: 70%;
    padding: 1rem;
    text-align: left;
    margin: 0 auto;
}
.container h1 {
    font-family: 20px;
}