body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: crimson;
    font-size: 16px;
    margin: 0;
}
.post {
    padding-left: 10px;
}
.container {
    border: 2px solid black;
    width: 70%;
    /* padding: 1rem; */
    text-align: left;
    margin: 0 auto;
}
.container h1 {
    font-family: 20px;
}
.header {
    box-shadow: 0px 5px 30px 0px rgb(0, 0, 0,0.75);
    background:firebrick;
    color: white;
    padding: 0.5em;
    border: 1px solid #000;
    margin: 0 auto;
    font-size: 25px;
    font-weight: bold;
}
.tagline {
    font-size: 20px;
    margin-left: 16px;
    font-weight: normal;
}