body {
    background: #1e1f24;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.post {
    margin: 0;
    padding: 15px 15px;
    background: white;
    margin: 0 auto;
}
.container {
    border: 2px solid black;
    width: 70%;
    text-align: left;
    margin: 0 auto;
}
.container h1 {
    font-family: 20px;
    margin: 0;
}
.container p {
    margin: 0;
}
.header {
    box-shadow: 0px 5px 30px 0px rgb(0, 0, 0,0.75);
    background: firebrick;
    color: white;
    padding: 0.5em;
    border: 1px solid #000;
    margin: 0 auto;
    font-size: 0.8em;
    font-weight: bold;
}
.header-img {
    width: 30px;
    vertical-align: middle;
}
.tagline {
    padding:1em;
    font-size: 20px;
    font-weight: normal;
}
footer {
    background: #777;
    color: white;
    text-align: center;
    padding: 0.5em;
    font-size: 1em;
}
